VITE_SUPABASE_PROJECT_ID=zupygwgwsrcwhkwhuwtk
VITE_SUPABASE_URL=https://zupygwgwsrcwhkwhuwtk.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_SUPABASE_SECRET_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp1cHlnd2d3c3Jjd2hrd2h1d3RrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQzMjY2MDQsImV4cCI6MjA3OTkwMjYwNH0.UEyLE-HjlFQ-G4ogBAtODrt4gudzz62yxk3AEWyvWcQ
VITE_SUPABASE_ACCESS_TOKEN=
VITE_SUPABASE_DB_PASSWORD=4FGVwPzJW3W9nW@
